/* ==========================================================================
   3. Hero Area
   ========================================================================== */
#hero-area {
  background-image: linear-gradient(226.08deg,rgb(80,92,169),rgb(104,96,252),rgb(80,138,208),rgb(112,221,217));
  position:relative;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(243,205,85,1);
  opacity: 0.9;
}

#hero-area .contents {
  padding: 250px 0 70px;
}

#hero-area .contents h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 25px;
}

#hero-area .contents p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}

#hero-area .contents .btn {
  margin: 25px 25px 0px 0px;
  text-transform: uppercase;
}

#hero-area .banner_bottom_btn {
  margin-top: 40px;
}

#hero-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#hero-area .banner_bottom_btn i:hover {
  color: rgba(243,205,85,1);
}


/*counter*/
.mu-event-counter-area {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}

#mu-event-counter{
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.mu-event-counter-block {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  margin: 0 20px;
  font-weight: 150;
}

.mu-event-counter-block span {
  display: block;
  font-size: 25px;
  font-weight: 350;
  padding-top: 20px;
  line-height: 40px;
}



/*Grappin*/
#hero-area{
  height:100vh;
  background-image:url('../img/background-cedexis.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

#arm{
  position:relative;
  margin-left:-30vh;
  z-index: 5;
}

#arm .arm-1{
  position: absolute;
    width: 2vh;
    height: 8vh;
    background-color: black;
    transform: rotate(45deg);
    left: 1px;
    border-radius: 10%;
    z-index: 1;
    top: -15px;
    border: 1px solid;
}

#arm .arm-2{
  position: absolute;
    top: 2vh;
    width: 3vh;
    height: 14vh;
    border-radius: 30%;
    background-color: black;
    transform: rotate(135deg);
    z-index: 3;
    border: 1px solid;
}

#arm .arm-3{
  position: absolute;
    top: 12vh;
    left: 5vh;
    width: 12vh;
    height: 2vh;
    border-radius: 20%;
    background-color: black;
    border: 1px solid;
    z-index: 2;
}

#arm .arm-4{
  position: absolute;
    top: 13vh;
    left: 15vh;
    width: 1vh;
    height: 6vh;
    border-radius: 10%;
    background-color: black;
    border: 1px solid;
    z-index: 1;
}

#arm .circle-1 {
  border-radius: 50%;
    background-color: #F6D047;
    height: 1vh;
    width: 1vh;
    top: 4.5vh;
    left: -20px;
    position: absolute;
    z-index: 4;
}

#arm .circle-2 {
  border-radius: 50%;
    background-color: #F6D047;
    height: 1vh;
    width: 1vh;
    top: 12.3vh;
    left: 5vh;
    position: absolute;
    z-index: 4;
}

#arm .circle-3 {
  border-radius: 50%;
    background-color: #F6D047;
    height: 1vh;
    width: 1vh;
    top: 12.6vh;
    left: 14.9vh;
    position: absolute;
    z-index: 4;
}

#arm .wrapper-claw-1{
  transform: rotate(45deg);
    position: absolute;
    top: 17.2vh;
    left: 12.5vh;
}
#arm .claw-1{
  width: 1vh;
    height: 7vh;
    border-radius: 10%;
    background-color: black;
    border: 1px solid;
}

#arm .wrapper-claw-2{
  transform: rotate(-45deg);
    position: absolute;
    top: 17.2vh;
    left: 17.5vh;
}
#arm .claw-2{
  width: 1vh;
    height: 7vh;
    border-radius: 10%;
    background-color: black;
    border: 1px solid;
}

#arm .wrapper-claw-3{
  transform: rotate(-45deg);
    position: absolute;
    top: 22.6vh;
    left: 10.7vh;
    z-index: 3;
}

#arm .claw-3{
  width: 1vh;
    height: 2vh;
    border-radius: 10%;
    background-color: black;
    border: 1px solid;
}

#arm .wrapper-claw-4{
  transform: rotate(45deg);
    position: absolute;
    top: 22.6vh;
    left: 19.3vh;
    z-index: 3;
}

#arm .claw-4{
  width: 1vh;
    height: 2vh;
    border-radius: 10%;
    background-color: black;
    border: 1px solid;
}

#arm .data {
  width: 6vh;
    top: 24vh;
    left: 13vh;
    position: absolute;
}

#arm .data img{
  width:100%;
}

#hero-area .row{
  height:100%;
}

#hero-area .row .left{
  background-image: linear-gradient(white, #AED1FF);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
}

#hero-area .row .right{
  background-image: linear-gradient(white, #003E7A);
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-area .section-header{

}

#hero-area .row img{
  width: 100%;
  margin-top: 46vh;
  margin-left: 8vh;
}

#typed {
  color: black;
}

/* ==========================================================================
  12. Intro
   ========================================================================== */


#intro {
  min-height: 70vh;
  text-align: center;
  overflow: hidden;
  color: white;
  position:relative;
}

#intro  .strips__strip {
  will-change: width, left, z-index, height;
  position: absolute;
  width: 50%;
  min-height: 70vh;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
#intro  .strips__strip:nth-child(1) {
  left: 0;
}
#intro  .strips__strip:nth-child(2) {
  left: 50vw;
}
#intro  .strips__strip:nth-child(1) .strip__content {
  border-color: #003E7A;
  border-width: 1vh;
  border-style: solid;
  background-color: #68BCFF;
  transform: translate3d(-100%, 0, 0);
  animation-name: strip1;
  animation-delay: 0.1s;
}
#intro  .strips__strip:nth-child(2) .strip__content {
  border-color: #AED1FF;
  border-width: 1vh;
  border-style: solid;
  background-color: #003E7A;
  border-style: solid;
  transform: translate3d(0, 100%, 0);
  animation-name: strip2;
  animation-delay: 0.2s;
}
@media screen and (max-width: 760px) {
  #intro   .strips__strip {
    min-height: 35vh;
  }
  #intro .strips__strip:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
  }
  #intro .strips__strip:nth-child(2) {
    top: 35vh;
    left: 0;
    width: 100%;
  }
}

#intro  .strip__content {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#intro .strip__content li {
  text-align:left;
  font-size: 2.5vh;
}

#intro .strip__content ul li ul {
  padding-left:4vh;
}

#intro .strip__content:hover:before {
  transform: skew(-30deg) scale(3) translate(0, 0);
  opacity: 0.1;
}
#intro .strip__content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  transform-origin: center center;
  transform: skew(-30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#intro   .strip__inner-text {
  will-change: transform, opacity;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 72%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}


#intro .strips__strip--expanded {
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
@media screen and (max-width: 760px) {
  #intro .strips__strip--expanded {
    min-height: 70vh;
  }
}
#intro .strips__strip--expanded .strip__content:hover:before {
  transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.05;
}
#intro .strips__strip--expanded .strip__title {
  opacity: 0;
}
#intro .strips__strip--expanded .strip__inner-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#intro .strip__title {
  padding:3vh;
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#intro .strip__title h1{
  font-size: 5vh;
}

#intro .strip__title h2{
  font-size: 3vh;
}

#intro .first {
  color:#003E7A;
}

#intro .second {
  color:#AED1FF;
}

#intro .strip__title img {
  padding-top: 1vh;
  width:25%;
}

@media screen and (max-width: 760px) {
  #intro .strip__title {
    font-size: 28px;
  }
}
#intro .strip__close {
  position: absolute;
  width: 2vh;
  right: 8vw;
  top: 8vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}
#intro .strip__close--show {
  opacity: 1;
}

#intro .strip__next {
  position: absolute;
  width: 5vh;
  right: 8vw;
  top: 20vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}

#intro .strip__next--show {
  opacity: 1;
}

#intro .strip__previous {
  position: absolute;
  width: 5vh;
  left: 8vw;
  top: 20vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}

#intro .strip__previous--show {
  opacity: 1;
}

@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* ==========================================================================
22. CTA
 ========================================================================== */

 #cta {
  background-color:#D3D8D9;

 }

 #cta .item a{
  width: 100%;
  margin:auto;
 }

/* the important bits */
#cta li {
  perspective: 400px;
  display: list-item;
}
#cta .info {
  transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  pointer-events: none;
}
.in-top .info {
  transform-origin: 50% 0%;
  animation: in-top 300ms ease 0ms 1 forwards;
}
.in-right .info {
  transform-origin: 100% 0%;
  animation: in-right 300ms ease 0ms 1 forwards;
}
.in-bottom .info {
  transform-origin: 50% 100%;
  animation: in-bottom 300ms ease 0ms 1 forwards;
}
.in-left .info {
  transform-origin: 0% 0%;
  animation: in-left 300ms ease 0ms 1 forwards;
}
.out-top .info {
  transform-origin: 50% 0%;
  animation: out-top 300ms ease 0ms 1 forwards;
}
.out-right .info {
  transform-origin: 100% 50%;
  animation: out-right 300ms ease 0ms 1 forwards;
}
.out-bottom .info {
  transform-origin: 50% 100%;
  animation: out-bottom 300ms ease 0ms 1 forwards;
}
.out-left .info {
  transform-origin: 0% 0%;
  animation: out-left 300ms ease 0ms 1 forwards;
}
@keyframes in-top {
  from {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-right {
  from {
    transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(-1, 0, 0, 104deg);
  }
}
@keyframes out-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, -1, 0, 104deg);
  }
}
@keyframes out-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 104deg);
  }
}
@keyframes out-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 104deg);
  }
}
/* you can ignore this ones */
#cta img{
  width: 100%;
  /*padding:40px;*/
}

#cta a {
  /*background-image:linear-gradient(-10deg,rgba(234,121,110,75%),rgba(234,121,110,75%));*/
  background-image:linear-gradient(-10deg,rgba(243,205,85,0.2),rgba(243,205,85,0.2));
}

#cta ul {
  padding: 0;
  list-style-type:none;
  display:flex;
  justify-content: center;
}
#cta ul:after {
  content: "";
  display: table;
  clear: both;
}
#cta li {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 1px;
  padding: 0;
  list-style: none;
}
#cta li a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 4px;
}
#cta li h3 {
  margin: auto;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
}
#cta li p {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
#cta li .normal {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  color: rgba(52, 73, 94, 0.6);
  box-shadow: inset 0 2px 20px #e6ebed;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
}
#cta li .normal svg {
  pointer-events: none;
  width: 50px;
}
#cta li .normal svg path {
  fill: rgba(52, 73, 94, 0.2);
}
#cta * {
  box-sizing: border-box;
}
#cta body {
  background-color: #fff;
}
#cta h1 {
  margin: 0 auto 5px;
  text-align: center;
}


/* ==========================================================================
  4. Actu
   ========================================================================== */
#actu .actu-item{
  padding:10%;
}

#actu .actu-item-wrapper {
  background: #fff;
  border-radius: 0px;
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

#actu .actu-item-wrapper:hover .actu-item-img:before {
  opacity: 1;
  height: 100%;
  width: 100%;
}

#actu .actu-item-img {
  position: relative;
}

#actu .actu-item-img img {
  width: 100%;
}

#actu .actu-item-text {
  padding: 20px 0;
}

#actu .actu-item-text h3 {
  margin-bottom: 10px;
}

#actu .actu-item-text h3 a {
  color: #333;
}

#actu .actu-item-text h3 a:hover {
  color: rgba(243,205,85,1);
}

#actu .actu-item-text p {
  margin-bottom: 20px;
}

.meta-tags {
  margin-bottom: 20px;
}

.meta-tags span {
  color: #999;
  margin-right: 10px;
}

.meta-tags span i {
  margin-right: 5px;
}

.meta-tags span a {
  color: #999;
}

.meta-tags span a:hover {
  color: rgba(243,205,85,1);
}







