#hero-area{
  min-height:90vh;
  background:#292f35;
}

.box{
  padding:8vh 8vh 3vh 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-area img{
  height:50vh;
  filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity:0.8;

}

#hero-area img:hover{
  filter:alpha(opacity=100);
    -moz-opacity: 1;
    opacity:1;
}

.justify-content-center{
  display:flex;
}

.text {
  color:#fff;
  text-align:justify;
  border-radius: 22px;
}

h1{
  padding-bottom:5vh;
  color: #fff;
  text-align: center;
}

.content {
  padding-top: 3vh;
}


