/* ------------------------------------- */
/* TABLE OF CONTENTS
/* -------------------------------------
  1. IMPORT GOOGLE FONTS
  2. GENERAL
    -2.1 SECTION TITLE
    -2.2 BUTTONS
    -2.3 SOCIAL ICON
    -2.4 PRE LOADER
    -2.5 SCROLL TO UP
    -2.6 NAVBAR
    -2.7 HERO-AREAS
  ------------------------------------- */
/* ==========================================================================
   1. IMPORT FONTS
   ========================================================================== */
@font-face {
  font-family: 'MuseoSansCyrl300';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MuseoSansCyrl_0.woff') format('font-woff'),
  url('../fonts/MuseoSansCyrl_0.otf') format('opentype');
}
/* ==========================================================================
   2. GENERAL
   ========================================================================== */
body {
  font-family: 'MuseoSansCyrl300';
  color: #333;
  font-size: 1.5vh;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 1.5vh;
}

a:hover, a:focus {
  color: rgba(243,205,85,1);
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

h1{
  font-size: 4.5vh; !important
  line-height: 1.5vh; !important
}

h2{
  font-size: 2.5vh; !important
}

h3{
  font-size:2vh; !important
  line-height: 1.5vh; !important
}

h4{
  font-size:1.5vh; !important
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  /*list-style: none;*/
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: rgba(243,205,85,1);
}

/* ==========================================================================
   2.1 Section Title
   ========================================================================== */
.section {
  padding: 5vh;
}

.section-header {
  color: #fff;
  margin-bottom: 3vh;
  text-align: center;
}

.section-header .section-title {
  font-size: 4.5vh;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  position: relative;
}

.section-header .section-title span {
  color: rgba(243,205,85,1);
}

.section-header .section-subtitle {
  margin-top: 2vh;
  color: #333;
  font-size: 2vh;
}

.section-header .lines {
  margin: auto;
  width: 10vh;
  position: relative;
  border-top: 0.3vh solid rgba(243,205,85,1);
  margin-top: 3vh;
}

/* ==========================================================================
   2.2 Buttons
   ========================================================================== */
.btn {
  font-size: 1.5vh;
  padding: 3vh 4vh;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  margin-top:2vh;
  white-space: normal;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  border: 0.1vh solid rgba(243,205,85,1);
  background: rgba(243,205,85,1);
  position: relative;
  color: black;
  z-index: 1;
  border-radius: 2vh;
}

.btn-common:hover {
  color: #fff;
  background: #003E7A;
  border-color: white;
  transition: all .50s ease-in-out;
  -moz-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 0.2vh solid #fff;
  border-radius: 0.4vh;
}

.btn-border:hover {
  border: 0.2vh solid #fff;
  color: #fff;
  background-color: rgba(243,205,85,1);
}

.btn-lg {
  padding: 2vh 3vh;
  text-transform: uppercase;
  font-size: 1.5vh;
}

.btn-rm {
  padding: 1vh 0px;
  color: #999;
  text-transform: capitalize;
}

.btn-rm i {
  vertical-align: middle;
}

button:focus {
  outline: none !important;
}

.clear {
  clear: both;
}

/* ==========================================================================
   2.3 Social Iocns
   ========================================================================== */
.social-icons {
  margin-top: 3.5vh;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  /*list-style: none;*/
}

.social-icons ul li {
  display: inline;
}

.social-icons ul li a {
  display: inline-block;
  margin-right: 1vh;
  margin-bottom: 2vh;
  border-radius: 50%;
  line-height: 3vh;
  width: 3vh;
  height: 3vh;
  text-align: center;
  background: #ddd;
}

.social-icons img{
  width:65%;
}

.social-icons ul li a:hover {
  color: #fff;
}

.facebook a {
  color: #4867AA;
}

.facebook a:hover {
  background: #4867AA;
}

.twitter a {
  color: #1DA1F2;
}

.twitter a:hover {
  background: #1DA1F2;
}

.google-plus a {
  color: #DD4D42;
}

.google-plus a:hover {
  background: #DD4D42;
}

.youtube a {
  color: #DF2926;
}

.youtube a:hover {
  background: #DF2926;
}

.linkedin a {
  color: #007BB6;
}

.linkedin a:hover {
  background: #007BB6;
}

.pinterest a {
  color: #BD081C;
}

.pinterest a:hover {
  background: #BD081C;
}

.dribbble a {
  color: #EA4C89;
}

.dribbble a:hover {
  background: #EA4C89;
}

.behance a {
  color: #0B7CFF;
}

.behance a:hover {
  background: #0B7CFF;
}

/* ==========================================================================
	 2.4  Pre Loader
	 ========================================================================== */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999999;
}

.spinner {
  width: 5vh;
  height: 5vh;
  top: 45%;
  position: relative;
  margin: 0px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(243,205,85,1);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* ==========================================================================
  -2.5 Scroll To Up
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 2.5vh;
  right: 2vh;
}

.back-to-top img {
  display: block;
  width: 4vh;
  height: 4vh;
  line-height: 3.5vh;
  color: #fff;
  font-size: 2vh;
  text-align: center;
  border-radius: 0.5vh;
  background-color: rgba(243,205,85,1);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


/* ==========================================================================
   -2.6 Navbar Style
   ========================================================================== */
.navbar{
  padding-left:7vh;
  padding-right:7vh;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  padding: 0;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: rgba(243,205,85,1) !important;
}

.top-nav-collapse .navbar-nav .nav-link.active {
  color: #fff !important;
}

.indigo {
  background-color: #68BCFF;
  padding-left:7vh;
  padding-right:7vh;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
  padding: 0 2.5vh;
  margin-top: 2.2vh;
  margin-bottom: 2.2vh;
  line-height: 4vh;
  border-radius: 2.5vh;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: rgba(243,205,85,1);
}

.navbar .nav-link.active {
  color: black !important;
  background: rgba(243,205,85,1);
}

.dropdown-toggle::after {
  display: none;
}

.slicknav_btn {
  border-color: rgba(243,205,85,1);
}

.slicknav_menu .slicknav_icon-bar {
  background: rgba(243,205,85,1);
}

nav img {
  width: 10vh;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 2vh;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 2vh;
    top: 0;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: rgba(243,205,85,1);
    color: #fff;
  }
  .slicknav_nav a:hover, .slicknav_nav .active {
    color: rgba(243,205,85,1);
    background: #f8f9fa;
  }
  .slicknav_nav .dropdown li a.active {
    background: #f8f9fa;
    color: rgba(243,205,85,1);
  }
}

.navbar-nav .dropdown-menu{
  margin-top:1vh;
  font-size:1.5vh;
}

.navbar-nav ul li a{
    display: block;
    padding: 0.2vh 2.2vh;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}



/* ==========================================================================
19. Footer Style
 ========================================================================== */
footer {
  background: #292f35;
  padding: 3vh 5vh;
}

.footer-links li {
  float: left;
}

.footer-links li a {
  color: #fff;
  margin-right: 2vh;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: rgba(243,205,85,1);
}

.copyright {
  margin-right: 5vh;
  float: right;
}

.copyright p {
  color: #fff;
}

.copyright p a {
  color: #fff;
}

.copyright p a:hover {
  color: rgba(243,205,85,1);
}



/* ==========================================================================
	REMOVED. Pricing Table
	========================================================================== */
.pricing-table {
  padding: 0px 0px 40px 0px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: transparent;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #f1f1f1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.pricing-table:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.pricing-table .pricing-details h2 {
  font-size: 26px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  background: #f1f1f1;
  padding: 30px 0;
}

.pricing-table .pricing-details span {
  display: inline-block;
  font-size: 48px;
  font-weight: 400;
  color: rgba(243,205,85,1);
  margin-bottom: 20px;
}

.pricing-table .pricing-details ul {
  margin-bottom: 35px;
}

.pricing-table .pricing-details ul li {
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px dotted #f1f1f1;
}

.table-left {
  margin-top: 20px;
}


/* ==========================================================================
TO ADD. Testimonial Section Style
 ========================================================================== */
#testimonial {
  background: url(../img/testimonial-bg.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.testimonial-item {
  text-align: center;
}

.testimonial-item img {
  width: 80px;
  border: 3px solid #fff;
  height: 80px;
  border-radius: 50%;
}

.testimonial-item .testimonial-text h3 {
  font-size: 15px;
  font-weight: 700;
}

.testimonial-item .testimonial-text span {
  font-size: 14px;
  color: #999;
}

.testimonial-item .testimonial-text p {
  font-size: 14px;
  font-weight: 400;
  padding: 36px 10px 30px 10px;
  margin: 0;
  line-height: 30px;
}

.owl-theme .owl-controls .owl-page span {
  background: rgba(243,205,85,1);
}

.owl-theme .owl-controls {
  margin-top: 20px;
}



/* ==========================================================================
  18. Contact Us
  ========================================================================== */
.contact-us {
  margin: 5vh;
}

.contact-us p span {
  color: rgba(243,205,85,1);
  padding-left: 1.5vh;
}

#contact {
  background: #003E7A;
  color: #fff;
  position: relative;
}

.form-control {
  width: 90%;
  margin-bottom: 1.5vh;
  display: inline-flex;
  padding: 1vh;
  border-color: #fff;
  border-radius: 0px;
  color: #fff;
  background: transparent;
  font-size: 1.5vh;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.form-control:focus {
  box-shadow: none;
  color: #fff;
  border-color: rgba(243,205,85,1);
  background: transparent;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.text-danger {
  font-size: 2vh;
  margin-top: 1.5vh;
}

.list-unstyled li {
  color: #d9534f;
}

#contact a{
  color:white;
}



/* ==========================================================================
  7. mail-list-subscribe Style
   ========================================================================== */
.mail-list-subscribe {
  background: #F96966;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.mail-list-subscribe .mail-list-subscribe-content {
  color: #fff;
}

.mail-list-subscribe .mail-list-subscribe-content h2 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4vh;
}

.mail-list-subscribe .mail-list-subscribe-content p {
  margin-bottom: 4vh;
}

.mail-list-subscribe .mail-list-subscribe-content .video-popup {
  width: 8vh;
  height: 8vh;
  text-align: center;
  border: 0.1vh solid #fff;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mail-list-subscribe .mail-list-subscribe-content .video-popup i {
  line-height: 7vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(243,205,85,1);
  opacity: 0.9;
  filter: alpha(opacity=90);
}


/* ==========================================================================
  7. Hero-Areas
   ========================================================================== */

#hero-area{
  margin-top: 8vh;
}
