/* ==========================================================================
  5. user-features section
   ========================================================================== */
#hero-area{
  /*background-color: rgb(236,122,111);*/
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size:cover;
  position:relative;
  padding-bottom:15vh;
}

#hero-area .section-header{
  margin-top:5vh;
  z-index:16;
}
#hero-area .row {
  z-index:16;
}

#hero-area .section-title {

}


#hero-area .section-header .section-title span {
  color:black;
}

#hero-area .section-title {
  color: black;
}

#hero-areas .section-subtitle {
  color: black;
}

.item-boxes {
  height:100%;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 22px;
  padding: 2vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(245,245,245,0.1);
}

.item-boxes:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color:rgba(245,245,245,0.5);
}

.item-boxes .icon {
  width: 8vh;
  height: 8vh;
  text-align: center;
  border: 1px solid #f1f1f1;
  display: inline-block;
  border-radius: 3vh;
  margin-bottom: 3vh;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #F96966;
}

.item-boxes .icon img {
  width:100%;
}


.item-boxes:hover .icon {
  background: rgba(243,205,85,1);
}


/*waves background*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #AED1FF 20%, #68BCFF 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


/*RGPD*/

#rgpd {
  background-image: url(../img/baf9ee1e76_89352_def-datacenter_copie_p2gz6b.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding:5vh;
}

#rgpd img {
  position:absolute;
  position: absolute;
  left: 47.5%;
  z-index: 999;
  width: 5%;
}

#rgpd .row .left{
  background-color: rgb(228,228,228);
  padding:1vh;
}

#rgpd .row .right{
  background-color: rgb(243,206,85);
  padding:1vh;
}



/* ==========================================================================
  6. Fonctionnement Section Style
   ========================================================================== */
#fonctionnement {
  background: url("../img/ezgif.com-webp-to-jpg.jpg") fixed no-repeat;
  background-size: cover;
  color: black;
  overflow: hidden;
  position: relative;
}

#fonctionnement .section-header{
  padding:3vh;
}
#fonctionnement .section-title {
  padding-top:2vh;
  color:black;
}

#fonctionnement .section-subtitle {
  color: black;
}

#fonctionnement .row {
  padding:3vh;
  background-color: rgba(250,250,250,50%);
}

#fonctionnement .steps{
  display: flex;
  text-align:center;
  flex-direction: column;
}

#fonctionnement .icon {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  border-radius: 2vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

#fonctionnement .box-item {
  padding: 2vh 0.5vh;
}

#fonctionnement .box-item .icon {
  border: 1px solid rgba(243,205,85,1);
  text-align: center;
  float: left;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  justify-content:center;
  align-content:center;
  display:flex;
  flex-direction: column;
}

#fonctionnement .box-item .icon h3{
  margin:auto;

}

#fonctionnement .box-item .icon i {
  color: rgba(243,205,85,1);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#fonctionnement .box-item .text {
  padding-left: 7vh;
}

#fonctionnement .box-item .text h2 {

}

#fonctionnement .box-item .text p {
}

#fonctionnement .box-item:hover .icon {
  background: rgba(243,205,85,1);
}

#fonctionnement .box-item:hover .icon i {
  color: #ffffff;
}

#fonctionnement .show-box img {
  position: absolute;
}

#fonctionnement .platform-screenshot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}
#fonctionnement .platform-screenshot img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}




/* ==========================================================================
  12. Hero-Area
   ========================================================================== */

@keyframes unlock-circle {
    0% {
        bottom: 22vh;
    }
    25% {
        bottom: 22vh;
    }
    50% {
        bottom: 15vh;
    }
    75% {
        bottom: 15vh;
    }
    100% {
        bottom: 22vh;
    }
}

@keyframes unlock-box {
    0% {
        bottom: 21vh;
    }
    25% {
        bottom: 21vh;
    }
    50% {
        bottom: 14vh;
    }
    75% {
        bottom: 14vh;
    }
    100% {
        bottom: 21vh;
    }
}


#locker .wrapper {
  position: relative;
    height: 100%
}

#locker .base {
    background-color: #ecf0f1;
    width: 25vh;
    height: 20vh;
    border-radius: 2vh;
    margin: 0 auto;
    position: absolute;
    top: 15vh;
    z-index: 100;
    left: 33vh;
}

.base-bottom {
    background-color: #bdc3c7;
    width: 25vh;
    height: 17vh;
    border-radius: 0 0 2vh 2vh;
    top: 3vh;
    position: relative;
    opacity: 0.4;
}

.lock-wrapper{
      position: absolute;
    top: 50%;
    left: 33%;
}

.lock-container{
  position:relative;
}

.lock-cirlce {
        height: 17vh;
    width: 10vh;
    left:40.5vh;
    border-radius: 10vh;
    z-index: 10;
    background-color: #bdc3c7;
    position: absolute;
    margin: 0 auto;
    animation-name: unlock-circle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.lock-circle-inside {
    height: 25vh;
    width: 5vh;
    border-radius: 9vh;
    z-index: 20;
    background-color: #68BCFF;
    position: relative;
    margin: 0 auto;
    top: 15%;
}

.lock-box {
    animation-name: unlock-box;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: absolute;
    height: 10vh;
    width: 5vh;
    background-color: #68BCFF;
    z-index: 80;
    left:40vh;
}

.lock-inside-top {
    width: 5vh;
    height: 5vh;
    border-radius: 9vh;
    background-color: black;
    z-index: 300;
    position: relative;
    bottom: 9vh;
    left: 10vh;
}

.lock-inside-bottom {
    width: 2vh;
    height: 5vh;
    background-color: black;
    z-index: 300;
    position: relative;
    bottom: 11vh;
    left: 11.5vh;
}

#locker{
  background-color: #68BCFF;
}


#locker .section-header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:6vh;
  margin-bottom:0px;
}




