
/* ==========================================================================
  9. Business Intro Section
   ========================================================================== */

#hero-area {
  height:70vh;
  background: url(../img/lighter_sloe6g.jpg) fixed no-repeat;
}

#hero-area .contents{
  color: black;
  margin-top:10%;
  padding:5%;
  background-color: rgba(250,250,250,0.5)
}

/* ==========================================================================
  11. dpo-features section
   ========================================================================== */
#dpo-features{
  background-color: white;
}

#dpo-features h1 {
  font-size:30px;
  color: black;
}

#dpo-features h4 {
  font-size:17px;
}

#dpo-features p {
  font-size:14px;
}

#dpo-features .image{
  padding-bottom: 7%;
  display: inline-flex;
  vertical-align: middle;
}

#dpo-features .image img {
  width: 120px;
  height: 120px;
}

/*#dpo-features .section-subtitle {
  color: white;
}*/

/* ==========================================================================
  12. DPO Interface Section
   ========================================================================== */

#dpo-interface {
    /*max-width: 1400px;*/
    margin: auto;
    overflow: hidden;
    background-image: url("../img/backgroundBehindScreengrabsShorter-1");
}

#dpo-interface h2{

}

.dpo-interface-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 1200px) {
   #dpo-interface .section-header{
      text-align: left;
    }
   .dpo-interface-text {
        padding-top: 60px;
    }

    .dpo-interface-image-box {
      padding-top: 10%;
      padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1199px) {
   .dpo-interface-text {
      padding-top: 60px;
      margin-left: 5%;
      margin-right: 5%;
    }
    .dpo-interface-image-box {
      padding-right: 10%;
      padding-left: 10%;
      padding-bottom: 30px;
    }
}


/* ==========================================================================
  13. Cloud Storage Section
   ========================================================================== */

#cloud-storage {
    /*max-width: 1400px;*/
    margin: auto;
    overflow: hidden;
    background-color: #ece9e4;
}

.cloud-storage-image {
}

@media only screen and (min-width: 1200px) {
   #cloud-storage .section-header{
      text-align: left;
    }
   .cloud-storage-text {
        padding-top: 60px;
    }

    .cloud-storage-image-box {
      padding-top: 3%;
      padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1199px) {
   .cloud-storage-text {
        padding-top: 60px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .cloud-storage-image-box {
      padding-right: 10%;
      padding-left: 10%;
    }

    #cloud-storage img{
      padding-right: 20%;
      padding-left: 20%;
    }
}



/* ==========================================================================
  14. rgpd-business Section
   ========================================================================== */

#rgpd-business {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.rgpd-business-image {
}

@media only screen and (min-width: 1200px) {
   #rgpd-business .section-header{
      text-align: left;
    }
   .rgpd-business-text {
        padding-top: 60px;
    }

    .rgpd-business-image-box {
      padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1199px) {
   .rgpd-business-text {
      padding-top: 60px;
      margin-left: 5%;
      margin-right: 5%;
    }
    .rgpd-business-image-box   {
      padding-right: 10%;
      padding-left: 10%;
    }

    #rgpd-business img{
      padding-right: 20%;
      padding-left: 20%;
    }
}


/* ==========================================================================
  15. Join Us Section
   ========================================================================== */

#join-us {
  height:40vh;
  background-color: #F96966;
}

#join-us .contents{
  color: black;
  margin-top:35px;
  padding:20px;
  background-color: rgba(250,250,250,0.5);
}
