/* ==========================================================================
  12. yser
   ========================================================================== */

#hero-area div {
  height: 50vh;
  background-image: linear-gradient(
      -225deg,
      rgba(0, 101, 168, 0.6) 0%,
      rgba(0, 36, 61, 0.6) 50%
    ),
    url('../img/speech_at_tee.jpg');
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#hero-area img {
  width: 20%;
}

#nos-valeurs .container {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ==========================================================================
 16. Counter Section Style
 ========================================================================== */
.counters {
  background: url('../img/03195_038_204DA6A0.jpg') fixed;
  position: relative;
}

.counters .facts-item {
  text-align: center;
  color: #fff;
}

.counters .facts-item .icon {
  margin-bottom: 30px;
}

.counters .facts-item .icon img {
  width: 20%;
  color: white;
}

.counters .facts-item .fact-count h3 {
  color: #fff;
  margin-bottom: 2vh;
}

.fact-background {
  background-color: rgba(10, 10, 10, 0.5);
  padding-top: 1.5vh;
}

/* ==========================================================================
  17. Team Section
   ========================================================================== */
#team {
  position: relative;
}

#particles-js {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(#68bcff, #aed1ff, #68bcff);
}

.single-team:hover .team-details {
  opacity: 1;
}

.single-team {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  background: rgba(243, 205, 85, 1);
  overflow: hidden;
}

.single-team img {
  width: 100%;
}

.single-team .team-inner {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-details {
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px;
  background: #f1f1f1;
  padding: 15px;
}

.single-team .team-details .team-title {
  margin-bottom: 0.5vh;
  font-weight: 700;
  color: #333;
}

.single-team .team-details p {
  color: #333;
}

.single-team .social-list li {
  display: inline-block;
}

.single-team .social-list li a {
  display: block;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  width: 3vh;
  margin: 0.1vh;
  color: rgba(243, 205, 85, 1);
  background: #fff;
  border-radius: 4vh;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.single-team .social-list img {
  width: 65%;
}

.single-team .social-list .facebook a:hover {
  background: #4867aa;
  color: #fff;
}

.single-team .social-list .twitter a:hover {
  background: #337de7;
  color: #fff;
}

.single-team .social-list .google-plus a:hover {
  background: #dd4d42;
  color: #fff;
}

.single-team .social-list .linkedin a:hover {
  background: #007bb6;
  color: #fff;
}

/* ==========================================================================
  10. Logos Section
   ========================================================================== */

#sponsors .section-title {
  font-size: 2rem;
  color: #212121;
  padding-top: 2.5vh;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2vh;
}

#sponsors {
  background: #f3f4f3;
}

#sponsors .spnsors-logo {
  text-align: center;
  border-radius: 3vh;
  padding: 1.5vh;
  margin-bottom: 4vh;
  display: inline-block;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#sponsors .spnsors-logo:hover {
  border-color: transparent;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

/*Nos valeurs*/

#nos-valeurs {
  padding: 5vh;
  text-align: justify;
}
