<div class="banner flexbox-vertical" style="background-image: linear-gradient(rgba(0,36,61,0.1), rgba(0,101,168,0.6), rgba(0,36,61,0.1)), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfRLKaE/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');">

  <div class="flexbox" style="margin:0 15% -10% 15%">
      <img style="width: 15%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805351/mono_black_1_qunhom.png">
      <img style="width: 25%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805723/logo_matrice_confiance_wpzwrl.png">
      <img style="width: 15%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805365/logo-be-ys_vsvtck.png">
  </div>
  <div class="flexbox" style="justify-content: space-between;">
    <img style="width: 45%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805368/logo_yser_e4oorw.png">
    <div style="width: 50%">
      <h1>Vers un utilisateur maître de ses données personnelles</h1>
      <h2><span style="color:rgba(243,205,85,1)"> yser</span>, la plateforme qui permet aux particuliers de voir et de décider comment leurs données personnelles sont utilisées par les entreprises</h2>
      <a class="btn btn-lg btn-primary" style="background-color: red; border-color:red">Découvrir</a>
    </div>
  </div>
  <div class="flexbox" style="margin:0 15% 0 15%">
    <img style="width: 15%" src="http://www.formasup-npc.org/wp-content/uploads/2015/01/logo-edhec-rotis.png">
      <img style="width: 10%" src="https://cdn.welcometothejungle.co/uploads/website/logo/0714/151273/42.png">
      <img style="width: 15%" src="https://upload.wikimedia.org/wikipedia/fr/d/de/Logo_Paris_Descartes.png">
  </div>
</div>
