<div class="banner" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfRLKaE/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');">
  <div class="banner-content">
    <h1>yser, GDPR assistant</h1>
    <p></p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
