<nav class="navbar-wagon navbar-fixed-top" id="navbar" role="navigation" >
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <a target="_blank" href="https://www.dior.com/beauty/fr_fr/parfum-beaute/parfum/axe-fragrance-parfum.html">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Dior_Logo.svg/2000px-Dior_Logo.svg.png" alt="logo">
    </a>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
        <li><a href="#le-film">Le film</a></li>
        <li><a href="#le-jus">Le jus</a></li>
        <li><a href="#le-vapo-vapo">Le flacon</a></li>
        <li><a href="la-campagne">La campagne</a></li>
      </ul>
    </div>
  </div>
</nav>



