<div class="banner" style="background-image: linear-gradient(rgba(0,36,61,0.1), rgba(0,101,168,0.6), rgba(0,36,61,0.1)), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfRLKaE/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');">
  <div class="container flexbox-vertical">

    <!-- logos matrice et be-ys  -->
    <div class="flexbox hidden-xs" style="margin-top: -25px;">
      <img class="center-block" style="width: 15%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805351/mono_black_1_qunhom.png">
      <img class="center-block" style="width: 20%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805723/logo_matrice_confiance_wpzwrl.png">
      <img class="center-block" style="width: 15%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805365/logo-be-ys_vsvtck.png">
    </div>

    <!-- contenu grands écrans -->
    <div class="row hidden-xs hidden-sm">
      <div class="col-md-6">
        <img style="width: 100%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805368/logo_yser_e4oorw.png">
      </div>
      <div class="col-md-6" style="margin:auto;width: 50%">
        <h1>Redonner aux individus le contrôle de leurs données</h1>
        <h2><span style="color:rgba(243,205,85,1)"> yser</span>, la plateforme qui permet aux particuliers de voir et de décider comment leurs données personnelles sont utilisées par les entreprises</h2>
        <a style="margin-top: 10%; background-color: rgb(204,79,74);" href="/main" class="btn btn-danger" >Découvrir</a>
      </div>
    </div>


    <!-- contenu écran small -->
    <div class="row hidden-xs hidden-md hidden-lg">
      <div class="col-xs-6">
        <img style="width: 100%" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805368/logo_yser_e4oorw.png">
      </div>
      <div class="col-xs-6" style="width: 50%">
        <h1>Redonner aux individus le contrôle de leurs données</h1>
      </div>
    </div>
    <div class=" hidden-xs hidden-md hidden-lg">
      <h2><span style="color:rgba(243,205,85,1)"> yser</span>, la plateforme qui permet aux particuliers de voir et de décider comment leurs données personnelles sont utilisées par les entreprises</h2>
      <a  href="/main" class="btn btn-lg btn-danger image-block" style="display: block;margin: auto;margin-top: 5%;width: 30%; background-color: rgb(204,79,74)">Découvrir</a>
    </div>

    <!-- contenu écran mobile -->

    <div class="hidden-md hidden-lg hidden-sm" style="height: 80%">
      <div class="flexbox-vertical" style="height: 100%; width: 90%;margin:auto;text-align: center;">
        <div>
          <img style='width: 100%' src="http://res.cloudinary.com/dgmpokhth/image/upload/v1516805368/logo_yser_e4oorw.png">
        </div>
        <div>
          <h1 style="font-size: 30px">Redonner aux individus le contrôle de leurs données</h1>
        </div>
        <div>
          <h2 style="font-size: 20px"><span style="color:rgba(243,205,85,1)"> yser</span>, la plateforme qui permet aux particuliers de voir et de décider comment leurs données personnelles sont utilisées par les entreprises</h2>
        </div>
        <div style="width: 100%">
          <a  href="/main" class="btn btn-lg btn-danger image-block" style="background-color: rgb(204,79,74);display: block;margin: auto;margin-top: 5%;width: 100%;height: 20%">Découvrir</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="flexbox hidden-xs">
        <img style="width: 15%" src="http://www.formasup-npc.org/wp-content/uploads/2015/01/logo-edhec-rotis.png">
        <img style="width: 10%" src="https://cdn.welcometothejungle.co/uploads/website/logo/0714/151273/42.png">
        <img style="width: 15%" src="https://upload.wikimedia.org/wikipedia/fr/d/de/Logo_Paris_Descartes.png">
      </div>
    </div>

  </div>
</div>
