.banner {
  color: white;
  text-align: left;
  height: 100vh;
  font-weight:300;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;

  h1 {
    font-size: 40px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}

.container{
  height:100%;
}

.flexbox{
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.flexbox-vertical{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
}
